/* All Content */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: StretchSansFree;
}

/* All Nav Button */

#navlist {
    position: fixed;
    top: 45%;
    left: 5.4%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    z-index: 1;
}

#navlist li {
    list-style: none;
}

#navlist li a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    background: #f6cbf7;
    width: 135%;
    height: 50px;
    padding-top: 15%;
    color:#a92e5b;
    margin: 16%;
    text-align: center;
    border-radius: 15px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.30);
    float: left;
	-webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

#navlist li a:hover {
    cursor:pointer;
    margin-top: 2px;
    color:#a92e5b;
}

/* Homepage Content */
@media screen and (min-width: 614px){
    body {
        background: url('static/homebg.png');
    }
    #warning {
        display: none;
    }

    #home {
        padding-top: 30px;
    }

    #hello {
        font-size: 70px;
        margin-top: 160px;
        margin-left: -95px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: white;
        text-align: center;
        overflow-wrap: normal;
    }

    #name {
        display: flex;
        justify-content: center;
        font-size: 60px;
        position: relative;
        padding-left: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        color: white;
        overflow-wrap: normal;
    }

    #self-desc {
        display: flex;
        justify-content: center;
        text-align: right;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-top: -108px;
        padding-right: 17.6%;
    }

    #mobile-desc {
        display: none;
    }

    #self {
        z-index: -1;
        width: 330px;
        margin-left: 62%;
        margin-top: -345px;
        box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 28px;
    }

    #spark {
        z-index: 1;
        width: 175px;
        margin-top: -900px;
        margin-left: 78.25%;
    }
}

/* About Me */
@media screen and (min-width: 614px){
    #aboutme {
        margin-top: 7%;
    }

    #scenery {
        z-index: -1;
        width: 270px;
        margin-left: 50%;
        box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
        border-radius: 28px;
        margin-top: 4%;
        margin-left: 56.5%;
        animation-name: floating;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating {
        from {transform: translate(0, 0px);}
        65%  {transform: translate(0, 15px);}
        to   {transform: translate(0,-0px);}
    }

    #scenery-title {
        text-align: right;
        color: #933a5b;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
        padding-top: 35px;
        padding-right: 6%;
    }

    .col-md-5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .paragraphs {
        padding-right: 12%;
        text-align: justify;
        padding-top: 14%;
    }

    .par-title {
        color: #933a5b;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
    }

    .par-desc {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .link{
        margin-top: -30px;
        padding: 15px 30px;
        display: inline-block;
        font-family: 'PT Mono', monospace;
        color: white;
        background: #bd3c6b;
        text-decoration: none;
        border-radius: 15px;
        box-shadow: 7px 7px rgba(0, 0, 0, 0.30);
    }
    
    .link:hover{
        text-decoration: underline;
        color: white;
    }

    @-webkit-keyframes bob-on-hover {
        0% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
        50% {
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
        }
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
    }
    @keyframes bob-on-hover {
        0% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
        50% {
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
        }
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
    }
    @-webkit-keyframes bob-on-hover-float {
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
    }
    @keyframes bob-on-hover-float {
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
    }
    
    .bob-on-hover {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    
    .bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
        -webkit-animation-name: bob-on-hover-float, bob-on-hover;
        animation-name: bob-on-hover-float, bob-on-hover;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
    }

    #aboutme2 {
        margin-left: 30%;
        height: 100vh;
    }

    .col-md-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    #portrait {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        margin-bottom: 8%;
        margin-top: 50%;
    }

    #desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #row1 {
        margin-left: -2%;
    }

    .lable {
        text-decoration: underline;
        margin-bottom: 12%;
        color: #a92e5b;
        margin-top: 20%;
    }

    #exp-items {
        text-align: left;
        list-style: none;
    }

    itm {
        margin-bottom: 15px;
        margin-top: -20px;
        font-size: 23px;
    }

    #kir::before {
        content: "2016-2017"; font-weight: bold; color: #a92e5b;
    }
    #oim::before {
        content: "2018"; font-weight: bold; color: #a92e5b;
    }
    #cf::before {
        content: "2019"; font-weight: bold; color: #a92e5b;
    }
    #dpm::before {
        content: "2019"; font-weight: bold; color: #a92e5b;
    }
    #gen::before {
        content: "2020"; font-weight: bold; color: #a92e5b;
    }
}

/* Portofolio */

#portofolio {
    padding-top: 18px;
}

.work-link {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.work-link:hover {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
}

/* Contact Me */
#contactme {
    margin-top: 7.5%;
    padding-bottom: 9%;
    padding-top: 1%;
}
#info {
    margin-left: 40%;
    color:#A92E5B;
    text-align: center;
    font-size: 50px;
    font-weight: 630;
    margin-top: 32%;
}
#linkedin {
    color: black;
    height: 65px;
    margin-left: 13px;
    margin-bottom: 10px;
}
#gmail {
    height: 70px;
    margin-left: 13px;
    font-size: 50px;
    margin-bottom: 10px;
}
#github {
    height: 70px;
    margin-left: 13px;
}
#insta {
    height: 85px;
    margin-bottom: 5px;
    margin-left: 4px;
}
#gitlab {
    margin-top: 15px;
    margin-left: 10px;
    height: 70px;
}


@media screen and (max-width: 614px){
    #bod {
        display: none;
    }
}